# API Gateway Config
PORT=5000
NODE_ENV=development

# Service URLs
AUTH_SERVICE_URL=http://localhost:8000
BLOG_SERVICE_URL=http://localhost:8001
INTERACTIONS_SERVICE_URL=http://localhost:8002
MEDIA_SERVICE_URL=http://localhost:8003
REALTIME_SERVICE_URL=http://localhost:8004
FEED_SERVICE_URL=http://localhost:8005
SEARCH_SERVICE_URL=http://localhost:8006
CHAT_SERVICE_URL=http://localhost:8007

# Secrets
JWT_SECRET=b7760cf969eecafdcf6ca7afd59bf3a6c608356ce164fb65dc7261e46ad96ac569b3c6e4c0e7e715278f77f3d604ce9b22c373e239d2ba916e8a8ec05dfb8b58
CORS_ORIGIN=http://localhost:3000

# Tracing
JAEGER_ENDPOINT=http://localhost:4317
