# Zuvo API Gateway
NEXT_PUBLIC_API_URL=http://localhost:5000

# Socket.IO Realtime Service
NEXT_PUBLIC_SOCKET_URL=http://localhost:8004

# App
NEXT_PUBLIC_APP_NAME=Zuvo
NEXT_PUBLIC_APP_URL=http://localhost:3000
